@model Food.Service.PaginatedList<News.Models.BlogArchiveModels>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Blog Archive</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Blog Archive</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- start course content container -->
                            <div class="mu-course-container mu-blog-archive">
                                <div class="row">
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <div class="col-md-6 col-sm-6">
                                                <article class="mu-blog-single-item">
                                                    <figure class="mu-blog-single-img">
                                                        <a href="blogsingle?id=@item.Id"><img src="~/image/@item.Img" alt="img" height="350px" width="200px"></a>
                                                        <figcaption class="mu-blog-caption">
                                                            <h3><a href="blogsingle/id=@item.Id">@item.Title</a></h3>
                                                        </figcaption>
                                                    </figure>
                                                    <div class="mu-blog-meta">
                                                        <a href="blogsingle?id=@item.Id">@item.UserName</a>
                                                        <a href="blogsingle?id=@item.Id">@item.UpdateTime</a>
                                                        <!--<span><i class="fa fa-comments-o"></i>87</span>-->
                                                </div>
                                                    <div class="mu-blog-description">
                                                        <p></p>
                                                        <a class="mu-read-more-btn" asp-controller="BlogSingle" asp-action="Details" asp-route-id="@item.Id">Read More</a>
                                                    </div>
                                                </article>
                                            </div>
                                        }
                                    }


                                </div>
                            </div>
                            <!-- end course content container -->
                            <!-- start course pagination -->
                            <div class="mu-pagination">
                                @{
                                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                }
                                <nav>
                                    <ul class="pagination">
                                        <li>
                                            
                                            <a asp-action="Index"
                                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                               class="btn btn-default @prevDisabled" aria-label="Previous">
                                                 <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        @if (Model.PageIndex == 1)
                                        {

                                        }
                                        else
                                        {
                                            <li class="page-item ">
                                                <a asp-action="Index"
                                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                               class="btn btn-default @prevDisabled">
                                                    @(Model.PageIndex -1)
                                                </a>
                                            </li>

                                        }

                                        <li class="page-item active">
                                            <a asp-action="Index"
                                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                                               asp-route-pageNumber="@(Model.PageIndex)"
                                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                               class="btn btn-default @nextDisabled">@Model.PageIndex</a>
                                        </li>

                                        <li class="page-item ">
                                            <a asp-action="Index"
                                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                               class="btn btn-default @nextDisabled">
                                                @(Model.PageIndex +1)
                                            </a>
                                        </li>

                                        <li>
                                            @*<a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                </a>*@
                                            <a asp-action="Index"
                                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                               class="btn btn-default @nextDisabled" aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                            <!-- end course pagination -->
                        </div>
                        <div class="col-md-3">
                            <!-- start sidebar -->
                            <aside class="mu-sidebar">

                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>Popular News</h3>
                                    <div class="mu-sidebar-popular-courses">
                                       @{
                                            int iPopular = 0;
                                            foreach (var item in ViewBag.IdeaList)
                                            {
                                                if (iPopular <3)
                                                {
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="blogsingle?id=@item.idea_Id">
                                                                <img class="media-object" src="~/Image/@item.idea_ImageName" alt="img">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="#">@item.idea_Title</a></h4>
                                                        </div>
                                                    </div>

                                                }
                                                else
                                                {
                                                    break;
                                                }
                                                iPopular++;

                                            }
                                        }
                                    </div>
                                </div>
                                <!-- end single sidebar -->
                                <!-- start single sidebar -->
                                
                            </aside>
                            <!-- / end sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>