@model News.Entities.Submission

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.submission_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.submission_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.submission_Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.submission_Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.submission_StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.submission_StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.submission_DueTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.submission_DueTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.submission_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
